/* You can add global styles to this file, and also import other style files */

.TreeNodeStyleClassChanged
{
  color: red;
  font-weight: bold;
  font-size: medium;
}

.TreeNodeStyleClass
{
  color: black;
  font-weight: normal;
  font-size: medium;
}

textarea {font-size: larger}

.validationError
{
  border-width: 1px;
  border-style: solid;
  border-color: #e13131;
}

.validationSuccess
{
  border-width: 1px;
  border-style: solid;
  border-color: darkgray;
}

form {padding: 40px 20px 20px 20px;}
