/* You can add global styles to this file, and also import other style files */

.TreeNodeStyleClassChanged
{
  color: red;
  font-weight: bold;
  font-size: medium;
}

.TreeNodeStyleClass
{
  color: black;
  font-weight: normal;
  font-size: medium;
}

textarea {font-size: larger}
