/* You can add global styles to this file, and also import other style files */

.TreeNodeStyleClassChanged
{
  color: red;
  font-weight: bold;
}

.TreeNodeStyleClassNormal
{
  color: black;
  font-weight: normal;
}
